.jumbotron{
 background-image: url("images/outrun-vaporwave-hd-wallpaper-thumb.jpg");
 /* opacity: red; */
 
 background-repeat: no-repeat;
 background-size: cover;
 color: white;
 font-size: 15px;

    
}
.hen{color: tomato;
    font-weight: 200;
}

#liz{
    font-style: italic;
    font-weight: 200;

}

#ptl{
    color: gold;
    font-weight: 200;

}

#bton{
   color:blue;
   

}

#dlt{
   background-color: green;
}

.six{
    text-align: center;
}